*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    background-color: rgb(81, 69, 138);
}

.navbar{ /*nav */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .logo{
    font-size: 1.6em;
    font-weight: bold;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar .nav-links a:hover{
    color: yellow;
}

.nav-links{ /*ul */
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 0 20px;
}

/* Medium screens */
@media all and (max-width: 800px) {
    .navbar {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
}


/* Small screens */
@media all and (max-width: 500px) {
    .navbar {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
      row-gap: 20px;
    }
    .nav-links{
        flex-direction: column;
        gap: 5px;
    }
}




