:root{
    --font-size-title: 3.6rem;
    --font-size-subtitle: 2.2rem;
    --font-size-paragraphs: 1.6rem;
    --primary-color: #1E2229;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

header{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
}

header h1{
    font-size: var(--font-size-title);
    color: white;
}

nav .navbar{
    display: flex;
    gap: 1rem;
    font-size: var(--font-size-paragraphs);
}

.navbar li{
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    color: white;
}

main{
    display: flex;
    flex-flow: row wrap;
}

#introduction{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#introduction p{
    margin-top: 1rem;
    text-align: center;
    font-size: var(--font-size-paragraphs);
}

#progress{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #e3ddd4;
}

#progress .container__bars{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#progress h2{
    margin: 1rem 0;
    font-size: var(--font-size-subtitle);
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding: 1rem 2rem;
    color: white;
    background-color: var(--primary-color);
}

footer p{
    font-size: var(--font-size-paragraphs);
}

/*Tablet */
@media (min-width: 768px) {
    header{
        flex-flow: row wrap;
        justify-content: space-between;
    }

    #introduction img{
        width: 450px;
        height: 350px;
    }
    #progress .container__bars{
        flex-flow: row wrap;
    }
}

@media (min-width: 1024px){
    #introduction img{
        width: 650px;
        height: 550px;
    }
    #progress {
        width: 40%;
        order: 1;
    }
    #progress .container__bars{
        flex-direction: column;
    }
    #introduction{
        margin-top: 5rem;
        width: 60%;
        order: 2;
    }
    footer{
        height: 10vh;
    }
}
